<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>CK Team</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Italianno&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lisu+Bosa:ital,wght@1,200&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@500&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.js"
        integrity="sha512-8Z5++K1rB3U+USaLKG6oO8uWWBhdYsM3hmdirnOEWp8h2B1aOikj5zBzlXs8QOrvY9OxEnD2QDkbSKKpfqcIWw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="CSS/Team.css">
</head>

<body cz-shortcut-listen="true">
    <div data-collapse="medium" data-animation="default" data-duration="400" data-easing="ease" data-easing2="ease"
        role="banner" class="navigation w-nav">
        <div class="navigation-wrap"><a th:href="@{/CKCarFactory}" aria-current="page"
                class="logo-link w-nav-brand w--current"><img src="/ProjectImage/Logo.png" width="108" alt=""
                    class="logo-image"></a>
            <div class="menu">
                <nav role="navigation" class="navigation-items w-nav-menu"><a href="/Cars"
                        class="navigation-item w-nav-link">Car</a><a href="/Report"
                        class="navigation-item w-nav-link">Report</a><a href="/Team"
                        class="navigation-item w-nav-link">team</a>
                    <!-- <a href="/blog" class="navigation-item w-nav-link">Blog</a><a href="/contact"
                        class="navigation-item w-nav-link">Contact</a> -->
                </nav>
                <div class="menu-button w-nav-button"><img
                        src="https://assets.website-files.com/5c6eb5400253230156de2bd6/5c6eb8fd2f27af658094fa4a_menu-icon.png"
                        width="22" alt="" class="menu-icon"></div>
            </div><a href="/Cars" class="button cc-contact-us w-inline-block">
                <div>Explore</div>
            </a>
        </div>
        <div class="w-nav-overlay" data-wf-ignore=""></div>
    </div>
    <div class="section cc-home-wrap">
        <div class="intro-header cc-subpage">
            <div class="intro-content">
                <div class="heading-jumbo">
                    Team<br />
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="section-heading-wrap">
                <div class="label cc-light">
                    Our people<br />
                </div>
                <h2>
                    Our world-class team<br />
                </h2>
            </div>
            <div class="w-layout-grid team-members">
                <div id="w-node-6bd9fce9803c-16b94d70">
                    <div class="team-pic"> <img class="team-member-img" src="" alt="" id="card1-img">
                        <div class="team-member-title-wrap">
                            <div class="team-member-name" id="card1-name">Michael Fassbender</div>
                            <div class="paragraph-light" id="card1-position">CEO</div>
                        </div>
                    </div>
                </div>
                <div id="w-node-6bd9fce98043-16b94d70">
                    <div class="team-pic"><img class="team-member-img" src="" alt="" id="card2-img">
                        <div class="team-member-title-wrap">
                            <div class="team-member-name" id="card2-name">Jason Smith</div>
                            <div class="paragraph-light" id="card2-position">Product Designer</div>
                        </div>
                    </div>
                </div>
                <div id="w-node-6bd9fce9804a-16b94d70">
                    <div class="team-pic"> <img class="team-member-img" src="" alt="" id="card3-img">
                        <div class="team-member-title-wrap">
                            <div class="team-member-name" id="card3-name">Amanda Peterson</div>
                            <div class="paragraph-light" id="card3-position">Design Director</div>
                        </div>
                    </div>
                </div>
                <div id="w-node-6bd9fce98051-16b94d70">
                    <div class="team-pic"> <img class="team-member-img" src="" alt="" id="card4-img">
                        <div class="team-member-title-wrap">
                            <div class="team-member-name" id="card4-name">Billy Maxwell</div>
                            <div class="paragraph-light" id="card4-position">Lead Developer</div>
                        </div>
                    </div>
                </div>
                <div id="w-node-6bd9fce98058-16b94d70">
                    <div class="team-pic"> <img class="team-member-img" src="" alt="" id="card5-img">
                        <div class="team-member-title-wrap">
                            <div class="team-member-name" id="card5-name">Joshua Harris</div>
                            <div class="paragraph-light" id="card5-position">CTO</div>
                        </div>
                    </div>
                </div>
                <div id="w-node-6bd9fce9805f-16b94d70">
                    <div class="team-pic"> <img class="team-member-img" src="" alt="" id="card6-img">
                        <div class="team-member-title-wrap">
                            <div class="team-member-name" id="card6-name">Esther Ford</div>
                            <div class="paragraph-light" id="card6-position">Recruiter</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section cc-cta">
        <div class="container">
            <div class="cta-wrap">
                <div>
                    <div class="cta-text">
                        <div class="heading-jumbo-small">Reach Luxury And Style<br></div>
                        <div class="paragraph-bigger cc-bigger-light">Today is the day to build the business of your
                            dreams. Share your mission with the world — and blow your customers away.<br></div>
                    </div><a href="/Cars" class="button cc-jumbo-button w-inline-block">
                        <div>Start Now</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="footer-wrap"><a target="_blank" class="webflow-link w-inline-block"><img
                        src="https://assets.website-files.com/5c6eb5400253230156de2bd6/5c6eb93aaf74a2025c4c7dcd_webflow-w-small%402x.png"
                        width="15" alt="" class="webflow-logo-tiny">
                    <div class="paragraph-tiny">Powered by CK Software Development</div>
                </a></div>
        </div>
    </div>
</body>

</html>

<script language="JavaScript" type="text/javascript">

    $(document).ready(function () {

        $.ajax({

            url: "/TeamMembers",
            method: "GET",
            contentType: 'application/json',
            dataType: 'json'
        }).done(function (data) {
            console.log(data);
            for (let i = 0; i < data.length; i++) {
                //const element = data[i];
                const img = "card" + (i + 1) + "-img";
                const name = "card" + (i + 1) + "-name";
                const position = "card" + (i + 1) + "-position";
                document.getElementById(img).src = "/Portrait/" + data[i].portrait;
                document.getElementById(name).textContent = data[i].name + " " + data[i].surname;
                document.getElementById(position).textContent = data[i].position;
            }
        });
    });


</script>